body {
    background: linear-gradient(276deg, #af00ff, #00c5ff, #0c006c);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 24s ease infinite;
    animation: AnimationName 24s ease infinite;
    margin-left: 5.85vw;
    margin-top: 2.92vw;
    margin-right: 3.66vw;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 20%
    }
    50% {
        background-position: 100% 81%
    }
    100% {
        background-position: 0% 20%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 20%
    }
    50% {
        background-position: 100% 81%
    }
    100% {
        background-position: 0% 20%
    }
}

a:link{
    color:#000;
    text-decoration: none;
}

a:visited{
    color:#000;
}

a:hover{
    background-color: orange;
}

.emoji {
    font-size: calc(40px);
    min-width: 10px;
    text-align: center;
}

.emoji::after {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes twoFrames {
    50% {
        content: var(--emoji);
    }
}

@keyframes threeFrames {
    33.333% {
        content: var(--emoji-1);
    }

    66.666% {
        content: var(--emoji-2);
    }
}

.monkey::after {
    content: '🙈';
    --emoji-1: '🙉';
    --emoji-2: '🙊';
    animation-name: threeFrames;
    animation-duration: 2s;
}